@page "/"

<PageTitle>Index</PageTitle>

<header>
    <h2>Welcome to the shop!</h2>
</header>

<p>
    Place for a very interesting content...
</p>


<footer>
    <p>Place for your add...</p>
</footer>