@page "/"
@page "/rolka114/"

<PageTitle>Index</PageTitle>

<header>
    <h2>Welcome to the shop!</h2>
</header>

<p>
    Place for a very interesting content...
</p>


<footer>
    <img src="https://drive.google.com/uc?export=view&id=1Afd9QjCZbz_yNUoRbUrOF0lhdO6z4CiN"
        alt="Shop Logo"
        class="shopLogo"/>
</footer>