@page "/orders/{orderId:int}/furniture"
@page "/orders/{orderId:int}/furniture/{id:int}"

@inject NavigationManager NavigationManager

@if (Id == null)
{
    <PageTitle>New Furniture</PageTitle>
    <h3>Create a new furniture</h3>
}
else
{
    <PageTitle>Edit INSERT USERNAME HERE</PageTitle>
    <h3>Edit SAME AS ABOVE</h3>
}

<button class="btn btn-primary" @onclick="GoToParts">Check included parts</button>

@code {
    [Parameter]
    public int OrderId { get; set; }
    [Parameter]
    public int Id { get; set; }

    void GoToParts()
    {
        NavigationManager.NavigateTo($"/orders/{OrderId}/allfurniture/{Id}/parts");
    }
}